<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{ blog.title }}</title>
        <style>
            h1 {
                color: red;
                font-family: Comic Sans MS;
            }
            h6 {
                color: blue;
                font-family: Comic Sans MS;
            }
            p {
                font-family: Comic Sans MS;
            }
            img {
                width: 500px;
            }
        
        </style>
    
    </head>
    <body>
        <h1>{{ blog.title }}</h1>
        <h6>by: {{ blog.author }} published: {{ blog.date }}</h6>
        <p>{{ blog.body|safe }}</p>
        <img src="https://www.how-to-draw-funny-cartoons.com/image-files/cartoon-tv-4.gif" alt="Loading Image..." />
        <p>Source: https://www.how-to-draw-funny-cartoons.com/image-files/cartoon-tv-4.gif</p>
    
    </body>

</html>