<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>My Blog</title>
        <style>
            h1 {
                color: red;
                font-family: Comic Sans MS;
            }
            ul {
                color: blue;
                font-family: Comic Sans MS;
            }
        
        </style>
    </head>
    <body>
        <h1>My Blogs</h1>
        <ul>
            {% for blog in blogs %}
            <li><a href='/{{blog.id}}/'>{{blog}}</a></li>
            {% endfor %}
        
        </ul>
    </body>
</html>